<!-- 
 <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
   <a class="navbar-brand float-left" routerLink='/home'>Smart Space</a>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
   </button>
   
   <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
     <div class="navbar-nav">
       <a class="nav-item btn nav-link" routerLink="/login" routerLinkActive="active">Login <span class="sr-only">(current)</span></a>
       <a class="nav-item nav-link" routerLink='/register' routerLinkActive="active">Register</a>
     </div>
   </div>
 </div>
 </nav> -->


<nav class="navbar navbar-light bg-light justify-content-between">
  <a class="navbar-brand" routerLink="/home">Smart SPACE</a>
  <form class="form-inline">
    
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" routerLink="/login" routerLinkActive="active"> Login</button>
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" routerLink="/register" routerLinkActive="active"> Register</button>
  </form>
</nav>
